<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.1/dist/bootstrap-table.min.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
    <div class="container">
        <div class="row">
          
          <div class="col-6" id="table-container"> 
            <table id="data-table">
                <thead>
                    <tr>
                      <th data-field="id">ID</th>
                      <th data-field="avatar" data-formatter="imageFormatter">Avatar</th>
                      <th data-field="fullName">Full Name</th>
                      <th data-field="bDay">B-Day</th>
                      <th data-field="sex">Sex</th>
                      <th data-field="department">Department</th>
                      <th data-field="edit">Edit</th>
                    </tr>
                  </thead>
            </table>
          </div>
        </div>
      </div>
</body>
<script>
    var dataList = {{data_list|tojson}}

    $(document).ready(function () {
        var table = $('#data-table')
        table.bootstrapTable({data: dataList})
    });

    function imageFormatter(value, row) {
      return '<img src="'+value+'" style="max-width: 200px;" />';
    }
</script>
</html>